img {
  background-image: 'play.png';
  width:15%;
  height:auto;
  display: inline-block;
  margin: 2%;
}

.tracks {
  width:75%;
}

.widget {
  width:70%;
  height:auto;
}

#sc-widget {
  opacity: 0;
  /*display: none;*/
}
