<section>
  <h2>Tracks</h2>
  <ol>
    <% @tracks.each do |track| %>
    <div class="row" id='audio'>

      <div class="small-4 columns">
        <% !if nil? %>
          <img src="<%= track.artwork_url %>">
        <% else %>
        <img src="<%= asset_path('logo.jpg') %>">
        <% end %>
      </div>

      <div class="small-8 columns">
        <p>Track Title</p>
        <p>Track Artist</p>
        <p>
          <% !if nil? %>
            <%= track.description %>
          <% else %>
            <p> No Track Description Provided </p>
          <% end %>
        <p>
      </div>

    </div>
    <% end %>
  </ol>
</section>
