<%= link_to "Upload a New Song", new_track_path %>

<h2>Stream A Song</h2>
<section id='audio'>

</section>
<ol>
  <% @songs.each do |song| %>
    <li>
      <%= song.key %>
      <%= link_to "HTML5 Audio", download_url_for(song.key), :class => "html5" %>
      <br>
      <%= link_to 'Destroy',  track_path(song),  method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ol>
