<div class="user-tracks">
  <h2>Tracks</h2>
  <ol id="tracks-column">
    <% @tracks.each do |track| %>
      <%= render :partial => 'tracks/track', :locals => {:track => track} %>
    <% end %>
  </ol>
</div>
