<div class="playerlist-item">
  <div class="activity">
    <div class="soundstream-media-content">
      Track Image Here
    </div>
    <div class="soundstream-header">
      <div id="sound-play-button">
      </div>
      <div id="sound-pause-button">
      </div>
      <div id="sound-rewind-button">
      </div>
      <div id="sound-fastforward-button">
      </div>
      <div class="sound-title">
        Audio Title
      </div>
      <div class="sound-artist">
        Artist
      </div>
    </div>
    <div class="soundstream-actions">
      <div class="soundactions-button-toolbar">
        <div class="like-button">
        </div>
        <div class="share-button">
        </div>
        <div class="repost-button">
        </div>
      </div>
    </div>
  </div>
</div>
