<div class="playerlist-item">
  <div class="activity">
    <div class="soundstream-media-content">
      <div class="sound-artwork">
        <h2> Picture goes here </h2>
      </div>
    </div>
    <div class="soundstream-header">
      <div class="sound-play-button">
        Play Button
      </div>
      <div class="sound-pause-button">
        Pause Button
      </div>
      <div class="sound-rewind-button">
        Rewind Button
      </div>
      <div class="sound-fastforward-button">
        Fast Forward Button
      </div>
      <div class="sound-title">
        Track Title
      </div>
      <div class="sound-artist">
        Artist Name
      </div>
    </div>
    <div class="soundstream-actions">
      <div class="soundactions-button-toolbar">
        <div class="like-button">
          Like Button
        </div>
        <div class="share-button">
          Share Button
        </div>
        <div class="repost-button">
          Repost Button
        </div>
      </div>
    </div>
  </div>
</div>
