<div class="playerlist-item">
  <div class="activity">
    <div class="soundstream-media-content">
    </div>
    <div class="soundstream-header">
      <div id="sound-play-button">
      </div>
      <div id="sound-pause-button">
      </div>
      <div id="sound-rewind-button">
      </div>
      <div id="sound-fastforward-button">
      </div>
      <div id="soundstream-track-player">
        <span style="width: 25%"></span>
      </div>
      <div class="sound-title">
        Pesos
      </div>
      <div class="sound-artist">
        ASAP
      </div>
    </div>
    <div class="soundstream-button-actions">
      <div id="favorite-button">
      </div>
      <div id="share-button">
      </div>
      <div id="repost-button">
      </div>
    </div>
  </div>
</div>
