<div class='user-snippets'>
  <h2> Snippets </h2>
   <% @snippets.most_recent.each do |snippet| %>
    <%= render :partial => 'snippets/snippet', :locals => {:snippet => snippet} %>
   <% end %>
</div>

