<div id="connect">
  <% if !@user.tracks.empty? %>
    <img class="connect" src="<%= asset_path('update.png')%>">
  <% else %>
    <img class="connect"src="<%= asset_path('connect.png')%>">
  <% end %>
</div>