<% unless @user.id == current_user.id%>
    <div id="follow_form">
    <% if current_user.is_following?(@user) %>
      <%= render 'unfollow' %>
    <% else %>
      <%= render 'follow' %>
    <% end %>
  </div>
<% end %>
