<ul>
  <div class="following">
    <h2>Following</h2>
    <% @user.following.each do |user| %>
        <%= link_to image_tag(user.profile_img_url), user_path(user) %>
        <span><%= link_to "#{user.full_name}", user_path(user) %></span>
    <% end %>
  </div>
</ul>
