<ul>
  <h2>Followers</h2>

  <div class="row collapse">
  <div class="followers-column">
    <% @user.followers.each do |user| %>
      <span>
        <div class="followers-picture">
          <%= link_to image_tag(user.profile_img_url), user_path(user) %>
        </div>
        <div class="followers-name">
        <%= link_to "#{user.full_name}", user_path(user) %>
      </div>
      <div class="followers-audio">
        <p><span><%= user.tracks.count %> Tracks</span>
        <span><%= user.snippets.count %> Snippets</span></p>
      </div>
    </span>
    <% end %>
  </div>
</div>
</div>
</ul>
