<div class="splash">
  <div class="player">
    <div class="stere"><%= image_tag 'stere.png' %></div>
    <div class="center-o"><%= image_tag 'O.png' %></div>
    <div class="gram"><%= image_tag 'gram.png' %></div>
  </div>
  <p class="login">
    <%= render "devise/shared/links" %>
  </p>
</div>


