<div class="wrapper">
    <div class="stere"><%= image_tag 'stere.png' %></div>
    <div class="gram"><%= image_tag 'gram.png' %></div>
    <div class="center-o">
      <%= image_tag 'O.png' %>
      <div class="login-content">
        <div class="login">
          <h3>Welcome</h3>
          <p><%= render "devise/shared/links" %></p>
        </div>
    </div>
  </div>
</div>


