$('#connect').click(function(){
  new SoundcloudUser
})

$('.user-tracks').on('click', '.track', function(event){
  track = new Track({id: event.currentTarget.dataset.trackId, source_id: event.currentTarget.dataset.sourceId})
  track.audio.play()
})

$('.user-snippets').on('click', '.snippet', function(event){
  var snipData = event.currentTarget.dataset;
  var snippetTrack = new Track({source_id: snipData.sourceId});
  snippet = new Snippet({track: snippetTrack, startTime: snipData.startTime, endTime: snipData.endTime
  });
  snippet.playSnip();
})

$('.columns#right').on('click', '#pause', function(event){
  track.audio.pause()
  $(this).replaceWith("<div id='play'>PLAY~</div>")
})

$('.columns#right').on('click', '#play', function(event){
  track.audio.play()
  $(this).replaceWith("<div id='pause'>PAUSE~</div>")
})

$('.columns#right').on('click', '#snip', function(event){
  var endTime = track.audio.currentTime;
  var startTime = track.audio.currentTime - 15;
  var newSnippet = new Snippet(
    {track: track,
    startTime: startTime,
    endTime: endTime});
  $.ajax({
    url: '/snippets',
    method: 'POST',
    data: {snippet: {track_id: newSnippet.track_id, start_time: newSnippet.start_time, end_time: newSnippet.end_time}},
  }).done(function(response){
    $('.user-snippets').append(response);
  })
<<<<<<< HEAD
})
=======
});
>>>>>>> Provides additional placement positioning for the widget
