.track{
  display: inline-block;
  margin: 2px;
  border: 1px solid black;
  border-radius: 5px;
}

.tracks{
  margin-top: 35px;
  margin-left: -7%;
  opacity: 0.5;
  float: left;
  margin-left: 35px;
  width: 45%;
  height: 500px;
  background-color: black;
  display: inline-block;
  border-radius: 10%;
}


h1{
  color:white;
  text-align: center;
}

div.row#audio{
  border-style: solid;
}

a:link {
    color: white;
    font-size: 1em;
}

a:visited {
    color:white;
}


span{
  color:  #E8B504;
}

.row.collapse:hover span{
  color: black;
}

.row.collapse:hover{
  background-color: #E8B504;
}
