.container {
  display:inline-block;
  background-color:red;
  width:100%;
  height:600px;
  margin-top: 150px;
  font-family: 'Maven Pro', sans-serif;
}

.playerlist-item{
margin-top: -9.5em;
height: 8.9em;
width: 98.5%;
border-style: solid;
position: absolute;
border-color: black;
background-color:green;

}

.activity {
  position: relative;
  margin-top: .9em;
  height: 6.85em;
  border-style: dashed;
  background-color: orange;
}

.soundstream-media-content {
  position: relative;
  margin-top: -.4em;
  height: 7.1em;
  width: 9.85em;
  background-color: yellow;
  border-style: double;
  float: left;
}

.sound-artwork {
  position: inherit;

}
/*#sc-widget{
  width: 100%;
}*/

.snippets{
  float: right;
  /*position: relative;*/
  width: 45%;
  height: 500px;
  background-color: black;
  opacity: 0.5;
  display: inline-block;
  border-radius: 10%;
  margin-right: 35px;
  margin-top: 35px;
}

.tracks{
  /*position: relative;*/
  margin-top: 35px;
  opacity: 0.5;
  float: left;
  margin-left: 35px;
  width: 45%;
  height: 500px;
  background-color: black;
  display: inline-block;
  border-radius: 10%;
}


h1{
  color:white;
  text-align: center;
}
