.track{
  display: inline-block;
  margin: 2px;
  border: 1px solid black;
  border-radius: 5px;
}

.tracks{
  margin-top: 35px;
  margin-left: -7%;
  opacity: 0.5;
  float: left;
  margin-left: 35px;
  width: 45%;
  height: 500px;
  background-color: black;
  display: inline-block;
  border-radius: 10%;
}


h1{
  color:white;
  text-align: center;
}

div.row#audio{
  border-style: solid;
}

a:link {
    color: white;
    font-size: 1em;
}

a:visited {
    color:white;
}


span{
  color:  #E8B504;
  font-weight: bold;
}

.row.collapse:hover span{
  color: black;
}

.row.collapse:hover{
  background-color: #E8B504;
}

h2{
  text-align: center;
  margin-left: 12px !important;
  color:white;
}

.home img{
  height:100% !important;
  width:100% !important;
  margin-left:none !important;
  margin-right:none !important;
}

a.item.home{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

a.item.home.first:hover {
  content: url('orange_home.png');
  width:100%;
}

a.item.home.first.orange{
  display:none;
}

a.item.home.first.orange:hover{
  display:block;
  width:100%;
}

a.item.home.second:hover {
  content: url('orange_track.png');
  width:100%;
}

a.item.home.second.orange{
  display:none;
}

a.item.home.second.orange:hover{
  display:block;
  width:100%;
}

a.item.home.third:hover {
  content: url('orange_snippet.png');
  width:100%;
}

a.item.home.third.orange{
  display:none;
}

a.item.home.third.orange:hover{
  display:block;
  width:100%;
}
a.item.home.fourth:hover {
  content: url('orange_me.png');
  width:100%;
}

a.item.home.fourth.orange{
  display:none;
}

a.item.home.fourth.orange:hover{
  display:block;
  width:100%;
}

a.item.home.fifth:hover {
  content: url('orange_logout.png');
  width:100%;
}

a.item.home.fifth.orange{
  display:none;
}

a.item.home.fifth.orange:hover{
  display:block;
  width:100%;
}


