.heart-image {

}

img.heart-image{
  margin-left: -20%;
}

.heart {
  font-size: 152px;
  text-align: center;
  color: #a51919;
  padding: 0;
  margin: 0 0 -7px 0;
  height: 60px;
  width: 85px;
  right: -1%;
  position: relative;
}


.pulse2 {
  -webkit-animation: pulse2 1s linear infinite;
  -moz-animation: pulse2 1s linear infinite;
  -ms-animation: pulse2 1s linear infinite;
  animation: pulse2 1s linear infinite;
}

@-webkit-keyframes "pulse2" {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
