.connect{
  height: 5em;
  width: 8em;
  left: 23%;
  top:6%;
  position: absolute;
}

.small-2.end.columns.padded-column{
  top:-5px;
}

image.album_art{
  left:5px;
  top:5px;
}


.follow{
  height: 27%;
  width: 50%;
  left: 54%;
  top: 3%;
  position: absolute;
}

img.profile_image{
  left: 7%;
  top: 8%;
  position: absolute;
}

.username{
 left: 3%;
 top: 3%;
 position: absolute;
}

li.follow_div_1{
 left:30%;
 top: 2%;
 position: absolute;
}

li.follow_div_2{
 left:64%;
 top: 2%;
 position: absolute;
}
