.small-block-grid-3{
  height:10%;
}

.small-2.end.columns.padded-column{
  top:-5px;
}

image.album_art{
  left:5px;
  top:5px;
}

img.connect{
  position: relative;
  margin-top: 10%;
  right: 17%;
  height: 140px;
  top: -20%;
}

img.follow{
 position: relative;
  margin-top: 13%;
  height: 159px;
  top: 35px;
  right: 14%;
}


.username{
 left: 3%;
 top: 3%;
 position: absolute;
}



img.share{
  left: 60%;
  top: 12px;
  position: absolute;
}

.me{
  font-size:1.25em;
}

img.profile_image{
  margin-top:40%;
  margin-left:17%;
}

