.profile_image{
  padding-left:3em;
  padding-top:1em;
}

.follow_div{
  padding-top:1em !important;
  color: white;
}

.username{
 padding-top:1em !important;
 font-size:1.5em;
}

.connect{
  height:4em;
  width:5em;
  display: block;
  margin: 15px auto;
}

small-4.columns.album_art{
  padding-left:none !important;
}

img.album_art{
  position:absolute;
  left:-40px !important;
}