.side-nav li a:not(.button) {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  color: black;
  font-weight: bold;
}

.track_link{
  background-image: url("track.png") !important;
  background-size: 100% !important;
  background-repeat: none !important;
}

div.row.top_nav{

  z-index: 2;
}

div.small-2.columns{
  position:fixed !important;
  height: 100% !important;
  padding: 0 !important;
  left:0 !important;
}

div.small-5.columns.left{
  background-color: red !important;
  height: 100% !important;
  padding: 0 !important;
}

div.small-5.columns.right{
position:relative !important;
  background-color: blue !important;
  height: 100% !important;
  padding: 0 !important;
}