.side-nav li a:not(.button) {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  color: black;
  font-weight: bold;
  position:fixed;
  height:100%;
}

#left.small-2.columns{
  height: 100%;
  left:-12px;
}

#center.small-5.columns{
  z-index:-2;
}

#right.small-5.columns{
  right:0;
  background-color: black;
  color:white;
  font-size: 1em;
  z-index:10;
  position:fixed;
  height:100%;
  overflow:auto
}

.player{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity:0.9;
  z-index: 0;
}

.icon-bar.vertical{
  width:60%;
}

