.side-nav li a:not(.button) {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  color: black;
  font-weight: bold;
}




#left.small-2.columns{
  position:fixed !important;
  height: 100% !important;
  padding: 0 !important;
  width: 7% !important;
  left:0 !important;
}

#center.small-5.columns{
  height: 100% !important;
  padding: 0 !important;
  margin-left: 7% !important;
  z-index:-2;
}

#right.small-5.columns{
  height: 100% !important;
  padding: 0 !important;
  left: 625px;
  background-color: black !important;
  color:white;
  font-size: 1em;
  z-index:10;
}




.player{
  position: absolute !important;
  height: 100% !important;
  width: 100% !important;
  background-color: black;
  opacity:0.9;
  background-image: url("background.jpg") no-repeat center center fixed !important;
  background-size: 100% !important;
  z-index: -1;
}
