#tracks-column {
  margin-left: 0%;
}

.widget {
  position: absolute;
  width: 100%;
  height: 70%;}

#player {
  height: auto;
  width: auto;
  max-width: 30em;
  max-width: 24em;
}

#soundplayer-widget-picture {
  height: 36.25%;
  width: 14%;
  margin-left: 28%;
  margin-top: 8%;
  position: relative;
  border-radius: 50%;
}

.O {
  position: absolute;
  height: 69%;
  width: 38%;
  left: 15%;
}

.icon {

  height: 3em;
  width: 5em;
}


.play {
  position: absolute;
  left: 21%;
  top: 5%;
}

.stop {
  position: absolute;
  left: 41.75%;
  top: 5%;
}

.next {
  position: absolute;
  left: 41.5%;
  top: 60%;
}
.previous {
  position: absolute;
  left: 21.5%;
  top: 60%;
}
.snip {
  position: absolute;
  left: 31.5%;
  top: 75%;
}

.track-description {
  border-style: solid;
  height: 30%;
  top: 70%;
  position: absolute;
  width: 100%;
  padding: 0 36em 0 6em;
  background-color: white;
  opacity: 0.5;
}
