#tracks-column {
  margin-left: 0%;
}

.player{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity:0.9;
  z-index: 0;
}

.widget {
  position: relative;
  width: 125%;
  height: 90%;
  top:7%;
  right:10%;
}

#player {
  max-width: 30em;
  max-width: 24em;
}

#soundplayer-widget-picture {
  height: 22%;
  width: 13.2%;
  position: absolute;
  right:58%;
  top:26.5%;
  border-radius: 50%;
}

.O {
  position: absolute;
  height: 69%;
  width: 38%;
  left: 15%;
}

.icon {
  height: 5.625em;
  width: 7.5em;
}

#snip {
  position:absolute;
  left:29%;
  top:76%;
  height: 10.5em;
  width: 14em;
}

.play {
  position: absolute;
  left: 19.5%;
  top: 4%;
}

.stop {
  position: absolute;
  left: 43.75%;
  top: 4%;
}

.next {
  position: absolute;
  left: 43.75%;
  top: 64%;
}
.previous {
  position: absolute;
  left: 19.5%;
  top: 64%;
}

.track-description {
  border-style: solid;
  height: 30%;
  top: 70%;
  position: absolute;
  width: 100%;
  padding: 0 36em 0 6em;
  background-color: white;
  opacity: 0.5;
}
