.playerlist-item {
  height: 9.9em;
  width: 64.3%;
  border-color: black;
  padding: 10px 0px 0px;
  position: relative;
  margin-left: 21em;
  margin-top: 3.8em;
}

.activity {
  height: 8.2em;
}

.soundstream-media-content {
  height: 6.8em;
  width: 7.4em;
  float: left;
  background-image: url('album-art.jpg');
}

.soundstream-header {
  position: relative;
  float: center;
  margin-left: 10.4em;
  height: 100%;
}

#sound-play-button {
  position: relative;
  background-image: url('ic_play_circle_outline_black_24dp.png');
  background-color: white;
  height: 50px;
  width: 50px;
  margin-left: 10em;
  top: 4em;
}

#sound-pause-button {
  position: relative;
  background-image: url(http://localhost:3000/assets/ic_pause_circle_outline_black_24dp.png);
  height: 50px;
  width: 50px;
  margin-left: 14em;
  top: 0.89em;
}


#sound-rewind-button {
  position: relative;
  background-image: url(http://localhost:3000/assets/ic_fast_rewind_black_24dp.png);
  height: 50px;
  width: 50px;
  margin-left: 6em;
  top: -2.2em;
}

#sound-fastforward-button {
  position: relative;
  background-image: url(http://localhost:3000/assets/ic_fast_forward_black_24dp.png);
  height: 50px;
  width: 50px;
  margin-left: 18em;
  top: -5.3em;
}

#soundstream-track-player {
  height: 0.2em;
  color: black;
  margin-top: -10.5em;
  margin-left: 0em;
  width: 25em;
  background-color: black;
}

#soundstream-track-player > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43, 194, 83);
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(rgb(43, 194, 83)), to(rgb(84, 240, 84)));
  -webkit-box-shadow: rgba(255, 255, 255, 0.298039) 0px 2px 9px inset, rgba(0, 0, 0, 0.4) 0px -2px 6px inset;
  position: relative;
  overflow: hidden;
}

.sound-title {
  position: relative;
  top: 1.2em;
  width: 5em;
  left: -0.1em;
  font-family: 'Open Sans', sans-serif;
}

.sound-artist {
  position: relative;
  top: 1.3em;
  left: -0.1em;
  width: 5em;
  font-family: 'Open Sans', sans-serif;
}

.soundstream-button-actions {
  position: relative;
  top: -8em;
  width: 2.7em;
  left: 38em;
}

#favorite-button {
  position: relative;
  height: 35px;
  width: 35px;
  background-image: url('ic_favorite_black_18dp.png');
}

#share-button {
  height: 35px;
  width: 35px;
  background-image: url('ic_share_black_18dp.png');
}

#repost-button {
  height: 35px;
  width: 35px;
  background-image: url('ic_sync_black_18dp.png');
}
