<div class="nav-bar">
  <div class="stereogram-logo">
    <a href="/"></a>
  <div>
  <div class="nav-links">
    <div class="tracks-link">
      Tracks
    </div>
    <div class="snippets-link">
      Snippets
    </div>
    <div class="me-link">
      Me
    </div>
    <div class="upload-link">
      Upload
    </div>
  </div>
</div>
