<!-- <nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Home", root_path %></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <li class="divider"></li>
      <li><%= link_to "Tracks", tracks_path, :class=>"track_link"%></li>
      <li class="divider"></li>
      <li><%= link_to "Snippets", snippets_path %></li>
      <li class="divider"></li>
      <li><%= link_to "My Profile", user_path(current_user.id) %></li>
    </ul>
  </div>
</nav> -->

<div class="icon-bar vertical five-up">
  <a class="item">
    <img src="../assets/images/track.png" >
    <label>Home</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-bookmark.svg" >
    <label>Bookmark</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-info.svg" >
    <label>Info</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-mail.svg" >
    <label>Mail</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-like.svg" >
    <label>Like</label>
  </a>
</div>