<div class="large-1 columns">
  <div class="icon-bar large-vertical four-up">
    <a class="item">
      <img src="assets/img/images/track.png" >
      <label>Tracks</label>
    </a>
    <a class="item">
      <img src="assets/img/images/snippet.png" >
      <label>Snippets</label>
    </a>
    <a class="item">
      <img src="assets/img/images/me.png" >
      <label>Me</label>
    </a>
    <a class="item">
      <img src="assets/img/images/upload.png" >
      <label>Upload</label>
    </a>
  </div>
</div>
