<div class="large-2 columns">
  <ul class="side-nav">
      <img src='logo.jpg'>
    <li><a href="#">Tracks</a></li>
    <li class="divider"></li>
    <li><a href="#">Snippets</a></li>
    <li class="divider"></li>
    <li><a href="#">Me</a></li>
    <li class="divider"></li>
    <li><a href="#"> Upload</a></li>
  </ul>
<div>

<!-- <div class="nav-bar">
  <div class="stereogram-logo">
    <a href="/">Stereogram</a>
  <div>
  <div class="nav-links">
    <div class="tracks-link">
      Tracks
      <div class="track-icon"></div>
    </div>
    <div class="snippets-link">
      Snippets
      <div class="snippet-icon"></div>
    </div>
    <div class="me-link">
      Me
      <div class="me-icon"></div>
    </div>
    <div class="upload-link">
      Upload
      <div class="upload-icon"></div>
    </div>
  </div>
</div> -->
